In [1]:
import pandas as pd
import numpy as np

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [15]:
data = pd.read_csv('train.csv').drop(columns=['Unnamed: 0', 'id'])

In [16]:
data.head()

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [17]:
data.isnull().sum()

Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Inflight wifi service                  0
Departure/Arrival time convenient      0
Ease of Online booking                 0
Gate location                          0
Food and drink                         0
Online boarding                        0
Seat comfort                           0
Inflight entertainment                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Inflight service                       0
Cleanliness                            0
Departure Delay in Minutes             0
Arrival Delay in Minutes             310
satisfaction                           0
dtype: int64

In [18]:
data.shape

(103904, 23)

In [19]:
data.dropna(inplace=True)

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103594 entries, 0 to 103903
Data columns (total 23 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Gender                             103594 non-null  object
 1   Customer Type                      103594 non-null  object
 2   Age                                103594 non-null  int64
 3   Type of Travel                     103594 non-null  object
 4   Class                              103594 non-null  object
 5   Flight Distance                    103594 non-null  int64
 6   Inflight wifi service              103594 non-null  int64
 7   Departure/Arrival time convenient  103594 non-null  int64
 8   Ease of Online booking             103594 non-null  int64
 9   Gate location                      103594 non-null  int64
 10  Food and drink                     103594 non-null  int64
 11  Online boarding                    103594 non-null  int64
 12  Seat comfort                       103594 non-null  int64
 13  Inflight entertainment             103594 non-null  int64
 14  On-board service                   103594 non-null  int64
 15  Leg room service                   103594 non-null  int64
 16  Baggage handling                   103594 non-null  int64
 17  Checkin service                    103594 non-null  int64
 18  Inflight service                   103594 non-null  int64
 19  Cleanliness                        103594 non-null  int64
 20  Departure Delay in Minutes         103594 non-null  int64
 21  Arrival Delay in Minutes           103594 non-null  float64
 22  satisfaction                       103594 non-null  object
dtypes: float64(1), int64(17), object(5)
memory usage: 19.0+ MB

In [24]:
for column in data.columns:
    unicol = data[column].unique()
    print(unicol)

['Male' 'Female']
['Loyal Customer' 'disloyal Customer']
[13 25 26 61 47 52 41 20 24 12 53 33 45 38  9 17 43 58 23 57 49 36 22 31
 15 35 67 37 40 34 39 50 29 54 21 28 27 69 60 48 59 46 30 66 64 44 51 32
 19 42 16 11 62  8 56 68 55 18 65 72 70 63 10  7 14 80 74 71 85 73 76 77
 75 79 78]
['Personal Travel' 'Business travel']
['Eco Plus' 'Business' 'Eco']
[ 460  235 1142 ...  974 1479  400]
[3 2 4 1 5 0]
[4 2 5 3 1 0]
[3 2 5 4 1 0]
[1 3 2 5 4 0]
[5 1 2 4 3 0]
[3 5 2 1 4 0]
[5 1 2 3 4 0]
[5 1 2 3 4 0]
[4 1 2 3 5 0]
[3 5 4 2 1 0]
[4 3 5 1 2]
[4 1 3 5 2 0]
[5 4 3 1 2 0]
[5 1 2 3 4 0]
[  25    1    0   11    9    4   28   43   49    7   17   52   54   27
   18   19    3  109   23    8   14   10   51   39   13   30   64   20
   45   44   31   81   35   67   22   40   91   21   15   29  105   12
  162   24  141    6   34    2   97   16   99   37   66   53   36  209
   60  149   26    5   59   62  113   38   83  176   46   73  199   56
   93   70   80   96   57   95   74  172   63  175  143   48   47  101
  118   76  220   33   55  232  170  173  124  112   94  243  128   92
  270   90  110   50  144   71  315  158   88   65  111   32  156   41
  154  150  228   72  137  126  161   42  174  103  313  136  160  412
   69  185  114  135  142  147   85  235  125  391   84  138  102  196
  140   77  187  131   82  100   86  165   87  129  204  435  166  177
  123  139  116  108  167  285   61  117  106  190  168  211   89  324
   75  202  290  189  203  120  157  119   68  299  292   78  258  104
  121   58  222  317  320  200  134  248   79  240  169   98  249  145
  238  246  132  107  127  180  151  480  241  130  268  115  133  171
  164  330  438  472  163  122  326  186  155  223  332  447 1305  208
  201  233  210  182  221  159  188  184  224  178  266  191  219  652
  148  226  236  153  276  212  152  198  245  726  302  283  505  242
  215  394  206  311  293  566  225  146  218  227  252  291  193  323
  281  287  339  183  259  192  319  207  195  179  194  537  181  257
  213  300  295  262  312  383  392  294  250  419  216  308  423  346
  272  197  205  303  251  344  333  355  454  459  269  254  231  253
  265  301  263  381  214  310  244  239  255  328  348  278  859  692
  321  465  426  340  274  267  519  286  414  559  382  237  260  401
  247  376  288  271  450  230  279  264  448  398  750  365  316  351
  327  341  306  353  358  514  334  277  275  352  371  437  229  600
  296  460  338  307  234  289  452  318  256  368  626  729  217  362
  360  853  446  399  396  463  364  342  372  298  273  427  429  373
  420  579  930 1017  921  370  378  595  491  469  345  410  610  388
  748  336  433  347  444  282  978  322  496  389  359  415  329  933
  402  331  280  407 1592  501  384  377  503  400  430  570  357  350
  297  309  531  304  363  411  390  314  343  724  337]
[1.800e+01 6.000e+00 0.000e+00 9.000e+00 2.300e+01 8.000e+00 3.500e+01
 5.100e+01 1.000e+01 5.000e+00 4.000e+00 2.900e+01 4.400e+01 2.800e+01
 1.200e+01 1.200e+02 2.400e+01 1.000e+00 2.000e+01 3.100e+01 1.500e+01
 4.800e+01 2.600e+01 4.900e+01 2.000e+00 3.700e+01 5.000e+01 3.000e+00
 1.900e+01 7.200e+01 1.100e+01 3.400e+01 6.200e+01 2.700e+01 5.200e+01
 1.300e+01 8.200e+01 3.000e+01 1.600e+01 7.000e+00 1.220e+02 1.790e+02
 1.250e+02 1.700e+01 8.900e+01 1.010e+02 1.400e+01 6.100e+01 3.200e+01
 3.300e+01 4.100e+01 1.910e+02 1.380e+02 5.300e+01 2.200e+01 5.700e+01
 6.500e+01 7.600e+01 1.070e+02 9.200e+01 1.640e+02 2.100e+01 4.000e+01
 5.500e+01 1.850e+02 6.300e+01 7.700e+01 8.600e+01 9.100e+01 1.000e+02
 5.400e+01 3.600e+01 7.000e+01 1.390e+02 6.700e+01 1.630e+02 1.280e+02
 1.800e+02 9.300e+01 1.210e+02 4.500e+01 1.050e+02 1.260e+02 5.600e+01
 7.300e+01 2.120e+02 8.800e+01 2.410e+02 1.720e+02 1.750e+02 1.110e+02
 9.900e+01 2.500e+01 4.200e+01 2.260e+02 4.600e+01 1.310e+02 2.600e+02
 6.900e+01 1.420e+02 5.800e+01 7.500e+01 3.800e+01 6.600e+01 3.900e+01
 1.030e+02 3.070e+02 1.560e+02 7.400e+01 1.090e+02 1.550e+02 6.000e+01
 1.540e+02 4.300e+01 1.470e+02 2.170e+02 1.240e+02 4.700e+01 1.500e+02
 1.160e+02 1.710e+02 8.400e+01 1.230e+02 1.650e+02 9.400e+01 8.300e+01
 3.360e+02 5.900e+01 2.190e+02 8.700e+01 4.590e+02 6.800e+01 1.040e+02
 1.330e+02 1.340e+02 8.100e+01 2.590e+02 8.000e+01 7.900e+01 2.220e+02
 2.030e+02 3.540e+02 2.140e+02 7.800e+01 9.500e+01 7.100e+01 1.100e+02
 8.500e+01 1.460e+02 1.960e+02 9.800e+01 4.700e+02 2.640e+02 1.490e+02
 1.130e+02 1.190e+02 1.060e+02 2.160e+02 1.600e+02 2.850e+02 1.150e+02
 1.860e+02 2.110e+02 3.230e+02 1.760e+02 1.670e+02 2.420e+02 2.840e+02
 2.000e+02 1.450e+02 1.080e+02 1.740e+02 1.320e+02 3.130e+02 3.310e+02
 2.880e+02 1.180e+02 2.250e+02 6.400e+01 3.240e+02 1.900e+02 1.770e+02
 1.360e+02 3.200e+02 2.010e+02 2.710e+02 9.600e+01 1.520e+02 2.800e+02
 1.410e+02 1.570e+02 1.530e+02 1.300e+02 1.400e+02 1.120e+02 2.570e+02
 1.170e+02 2.350e+02 9.000e+01 1.810e+02 1.830e+02 1.270e+02 4.710e+02
 2.270e+02 1.020e+02 1.350e+02 1.290e+02 2.550e+02 1.920e+02 3.480e+02
 4.380e+02 4.460e+02 1.840e+02 1.680e+02 1.660e+02 3.100e+02 1.730e+02
 2.610e+02 1.610e+02 2.360e+02 1.510e+02 1.820e+02 3.210e+02 2.330e+02
 1.370e+02 4.330e+02 1.280e+03 2.180e+02 1.480e+02 1.440e+02 1.870e+02
 2.060e+02 1.700e+02 2.090e+02 1.140e+02 2.240e+02 2.810e+02 2.230e+02
 6.380e+02 2.200e+02 2.340e+02 9.700e+01 2.650e+02 3.880e+02 2.620e+02
 2.210e+02 1.620e+02 2.670e+02 3.740e+02 2.280e+02 2.440e+02 2.470e+02
 6.910e+02 1.430e+02 1.890e+02 1.970e+02 2.040e+02 3.190e+02 2.730e+02
 3.290e+02 1.950e+02 4.860e+02 1.780e+02 2.700e+02 1.580e+02 1.990e+02
 2.130e+02 3.830e+02 3.020e+02 6.000e+02 2.150e+02 1.690e+02 1.880e+02
 2.660e+02 2.920e+02 2.870e+02 2.300e+02 2.390e+02 2.890e+02 2.980e+02
 2.320e+02 3.630e+02 2.050e+02 2.950e+02 2.830e+02 5.240e+02 3.270e+02
 2.460e+02 2.900e+02 3.140e+02 3.160e+02 3.040e+02 2.020e+02 2.960e+02
 2.480e+02 3.860e+02 3.810e+02 1.590e+02 3.220e+02 4.600e+02 4.180e+02
 3.490e+02 2.560e+02 2.490e+02 1.940e+02 3.150e+02 2.080e+02 1.930e+02
 3.710e+02 2.290e+02 3.910e+02 4.540e+02 4.450e+02 2.100e+02 2.680e+02
 2.530e+02 2.450e+02 3.370e+02 2.970e+02 4.360e+02 2.790e+02 3.000e+02
 2.400e+02 2.370e+02 2.070e+02 1.980e+02 4.040e+02 2.430e+02 3.410e+02
 2.780e+02 3.050e+02 8.600e+02 2.580e+02 7.020e+02 3.600e+02 4.930e+02
 4.270e+02 3.350e+02 5.160e+02 2.720e+02 4.100e+02 5.550e+02 3.920e+02
 2.520e+02 3.300e+02 3.820e+02 2.930e+02 2.770e+02 2.310e+02 2.750e+02
 3.620e+02 2.760e+02 7.290e+02 3.570e+02 3.260e+02 2.500e+02 4.580e+02
 3.340e+02 2.910e+02 3.800e+02 3.590e+02 3.460e+02 6.240e+02 3.770e+02
 3.720e+02 4.290e+02 5.890e+02 3.010e+02 5.020e+02 2.990e+02 4.570e+02
 2.380e+02 4.010e+02 4.400e+02 2.860e+02 2.740e+02 3.110e+02 3.030e+02
 6.040e+02 7.170e+02 3.560e+02 4.090e+02 8.230e+02 2.940e+02 2.510e+02
 4.310e+02 4.320e+02 4.030e+02 3.180e+02 5.030e+02 3.380e+02 3.640e+02
 4.070e+02 3.680e+02 3.080e+02 2.540e+02 4.350e+02 2.630e+02 4.170e+02
 3.580e+02 4.160e+02 5.610e+02 3.510e+02 9.520e+02 1.011e+03 9.240e+02
 3.060e+02 4.240e+02 4.850e+02 4.430e+02 3.170e+02 5.180e+02 3.500e+02
 4.440e+02 3.120e+02 3.970e+02 5.930e+02 3.930e+02 7.200e+02 3.660e+02
 4.550e+02 2.690e+02 4.340e+02 9.700e+02 3.470e+02 3.090e+02 3.780e+02
 3.790e+02 3.950e+02 3.700e+02 4.480e+02 9.200e+02 3.890e+02 3.550e+02
 3.420e+02 1.584e+03 5.000e+02 4.020e+02 4.060e+02 4.840e+02 4.120e+02
 5.670e+02 4.200e+02 3.990e+02 3.450e+02 3.530e+02 4.220e+02 2.820e+02
 5.070e+02 4.250e+02 3.390e+02 3.520e+02 3.850e+02 7.050e+02 3.690e+02]
['neutral or dissatisfied' 'satisfied']

In [25]:
data.sample(5)

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
101289,Male,Loyal Customer,59,Business travel,Business,954,4,4,4,4,...,4,4,4,4,3,4,5,52,59.0,satisfied
63063,Male,Loyal Customer,24,Personal Travel,Eco,546,3,5,3,1,...,5,3,3,5,4,3,5,0,2.0,neutral or dissatisfied
32284,Male,Loyal Customer,55,Business travel,Business,500,1,5,5,5,...,1,1,1,1,4,1,4,0,27.0,neutral or dissatisfied
81136,Male,disloyal Customer,37,Business travel,Business,166,4,4,4,1,...,5,5,2,4,3,5,5,0,0.0,neutral or dissatisfied
79812,Male,Loyal Customer,16,Business travel,Business,3922,1,1,5,1,...,1,4,2,3,1,4,1,52,49.0,neutral or dissatisfied

In [28]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns='satisfaction'), data['satisfaction'], test_size=0.2, random_state=2)
X_train.shape, X_test.shape

((82875, 22), (20719, 22))

In [29]:
ohe = OneHotEncoder(sparse_output= False, handle_unknown='ignore')

data_gen_tr = ohe.fit_transform(X_train[['Gender']])
data_cutype_tr = ohe.fit_transform(X_train[['Customer Type']])
data_travel_tr = ohe.fit_transform(X_train[['Type of Travel']])
data_class_tr = ohe.fit_transform(X_train[['Class']])

data_gen_te = ohe.fit_transform(X_test[['Gender']])
data_cutype_te = ohe.fit_transform(X_test[['Customer Type']])
data_travel_te = ohe.fit_transform(X_test[['Type of Travel']])
data_class_te = ohe.fit_transform(X_test[['Class']])

In [30]:
data.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [36]:
data_rem_tr = X_train.drop(columns=['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class'], axis=1)
data_rem_te = X_test.drop(columns=['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class'], axis=1)

In [37]:
data_rem_tr.shape, data_rem_te.shape

((82875, 17), (20719, 17))

In [43]:
X_train_final = np.concatenate([data_rem_tr, data_gen_tr, data_cutype_tr, data_travel_tr, data_class_tr], axis = 1)
X_test_final = np.concatenate([data_rem_te, data_gen_te, data_cutype_te, data_travel_te, data_class_te], axis = 1)

In [46]:
X_train_final.shape, X_test_final.shape

((82875, 26), (20719, 26))

In [48]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y_train_final = le.fit_transform(y_train)
y_test_final = le.transform(y_test)

In [51]:
y_test

44945    neutral or dissatisfied
8835                   satisfied
96739                  satisfied
89593    neutral or dissatisfied
82234                  satisfied
                  ...
21561                  satisfied
65948    neutral or dissatisfied
62001    neutral or dissatisfied
91055    neutral or dissatisfied
28996    neutral or dissatisfied
Name: satisfaction, Length: 20719, dtype: object

In [52]:
from sklearn.metrics import accuracy_score

In [73]:
lr = LinearRegression()

lr.fit(X_train_final, y_train_final)
y_pred = lr.predict(X_test_final)

print('train score : ',lr.score(X_train_final, y_train_final))
print('test score : ',lr.score(X_test_final, y_test_final))

train score :  0.5545045043963237
test score :  0.5402257512075511

In [74]:
lo = LogisticRegression()

lo.fit(X_train_final, y_train_final)
y_predd = lo.predict(X_test_final)

print('train score : ',lo.score(X_train_final, y_train_final))
print('test score : ', lo.score(X_test_final, y_test_final))

train score :  0.8166877828054299
test score :  0.8109464742506878

C:\Users\Bhavy\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [64]:
clf = DecisionTreeClassifier()

clf.fit(X_train_final, y_train_final)
y_pred_clf = clf.predict(X_test_final)

accuracy_score(y_pred_clf, y_test_final)

0.9421786765770549